
<h2>Lista de categorias: </h2>
<hr>
<a href="/admin/categoria/add">
    <button class="btn btn-success">Adicionar Categoria</button>
    <hr>
</a>

{{#each categories}}
   <div class="card border-primary mt-4">
        <div class="card-header">{{name}}</div>
        <div class="card-body text-primary">
            <h5 class="card-title">{{slug}}</h5>
            <p class="card-text">Data da publicação {{date}}</p>
            <p>Postado Por: {{userName}}</p>
       <a href="/admin/categoria/edit/{{id}}"> 
           <button type="button" class="btn btn-primary mt-3">Editar</button>
       </a>

       <form action="/admin/categoria/delete/" method="post">
            <input type="hidden" name="id" value={{id}}>
             <button type="submit" class="btn btn-danger mt-3">Deletar</button >
       </form>
        </div>
    </div>
{{else}}
    <div class="card border-primary mt-3">
        <h4>Nenhuma categoria registrada!</h4>
    </div>
{{/each}}
