
<h2>Lista de categorias: </h2>
<hr>
<a href="/admin/categoria/add">
    <button class="btn btn-success">Adicionar Categoria</button>
    <hr>
</a>

{{#each categorias}}
   <div class="card border-primary mb-4">
        <div class="card-header">{{name}}</div>
        <div class="card-body text-primary">
            <h5 class="card-title">{{slug}}</h5>
            <p class="card-text">Data da publicação {{date}}</p>
       <a href="/admin/categoria/edit/{{id}}"> 
           <button type="button" class="btn btn-primary mt-3">Editar</button>
       </a>

       <a href="/admin/categoria/delete/{{id}}"> 
           <button type="button" class="btn btn-danger mt-3">Deletar</button>
       </a>

        </div>
    </div>
{{/each}}
