<div class="card border-primary shadow-lg p-3 mb-5 bg-white rounded mt-3" style="max-width: 40rem;">
    <div class="card-header">{{post.title}}</div>
    <div class="card-body text-primary">    
        <h5 class="card-title">{{post.description}}</h5>
        <p class="card-text">{{post.content}}</p>
        <small class="card-text text-dark mt-2">
            Categoria: {{post.categorie}}
            <br>
            Slug: {{post.slug}} 
            <br>
            Data: {{post.date}}
            <br>
            Postado Por: {{post.userName}}
        </small>
    </div>
</div>