{{#each erros}}
  <div class="alert alert-danger mt-3">{{texto}}</div>
{{/each}}
<form class="form-inline my-2 my-lg-0" style="margin-left: 787px;" method="post" action="/SearchPosts">
    <input class="form-control mr-sm-2" type="search" placeholder="Posts por Categoria" aria-label="Search" name="slug" style="background-color: beige;">
    <button class="btn btn-info" type="submit">Procurar</button>
</form>
<div class="jumbotron mt-3">
  <h1 class="display-4">Bem vindo ao BlogTec!</h1>
  <p class="lead">Este é um simples Blog desenvolvido com Node.Js, MongoDB, Express e outras Tecnologias.</p>
  <hr class="my-4">
  <p>Aqui voce vai encontrar diversas noticias sobre computação!</p>
</div>

<hr>

<h3>Postagens Recentes:</h3> 
{{#each posts}}
<div class="card border-primary shadow-lg p-3 mb-5 bg-white rounded mt-3">
    <div class="card-body">
        <h3 class='card-title'>{{title}}</h3>
        <p>{{description}}</p>
        <a href="/leiamais/{{_id}}">
            <button type="button" class="btn btn-success">Leia mais</button>
        </a>
    </div>
</div>

{{else}}
    <div class="card">
        <div class="card-body">
            Ainida não há postagens!
        </div>
    </div>
{{/each}}